.btn-primary{
    background-color: rgb(255, 166, 0);
    border:none;
  }
  .btn{
    background-color: rgb(255, 166, 0);
    border:none;
  }
  .btn-primary:hover{
    background-color: rgb(254, 176, 31);
  }
  .btn-primary:active {
    background-color: rgb(254, 176, 31);
  }
  .btn:active {
    background-color: rgb(254, 176, 31);
  }